<ion-view view-title="Horários dos Filmes">
  <ion-content>
    <ion-list>
      <ion-item type="item-text-wrap" ng-show="!filmes.length">
        Loading...
      </ion-item>

      <ion-item ng-repeat="filme in filmes" type="item-text-wrap">
        <h2>{{ filme.filme }}</h2>
        <p ng-show="filme.segunda.length">Segunda: <span ng-repeat="hora in filme.segunda">{{ hora }} </span></p>
        <p ng-show="filme.terca.length">Terça: <span ng-repeat="hora in filme.terca">{{ hora }} </span></p>
        <p ng-show="filme.quarta.length">Quarta: <span ng-repeat="hora in filme.quarta">{{ hora }} </span></p>
        <p ng-show="filme.quinta.length">Quinta: <span ng-repeat="hora in filme.quinta">{{ hora }} </span></p>
        <p ng-show="filme.sexta.length">Sexta: <span ng-repeat="hora in filme.sexta">{{ hora }} </span></p>
        <p ng-show="filme.sabado.length">Sábado: <span ng-repeat="hora in filme.sabado">{{ hora }} </span></p>
        <p ng-show="filme.domingo.length">Domingo: <span ng-repeat="hora in filme.domingo">{{ hora }} </span></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
